.card{
    display:flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
   }
.pagination{
    align-items: center !important;
    margin-left: 35%;
    margin-bottom: 2%;
}
.publish{
    display: flex;
    padding-top: 10px;
}