@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.menu{
    text-align: right !important;
    padding-right: 5% !important;
} 
.inputbox {
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.12);
    margin: 5%;
  }

 .input{ 
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100% !important;
 }

  h1{
    font-family: 'montserrat', sans-serif;
    color: #22254b !important;
    font-weight: 700 !important;
    padding-bottom: 20px;
 }

 .input form{
      display: flex;
      justify-content: center;
 }

 .input form > Input{
      border-radius: 5px !important;
      border-style: solid;
      width: 70% !important;
  }

  .input form > Button{
      font-family: 'montserrat', sans-serif;
      font-weight: 800 !important;
      margin-left: 2%;
      border-radius: 5px !important;  
  }

 .input form > Button:hover{
      background-color:#4acf36 !important;
      border-color:#4acf36 !important;
      color: white !important;
  } 

  .icon a{
    font-size: x-large;
    margin-left: 10px;
    margin-top: 5px;
    color: white ;
  }
  #card{
    display:flex;
    justify-content: space-between;
  }
  .logo{
    position:absolute;
    margin-left: -2%;
  }
  .footer{
    background-color:#131521 !important;
    text-align: center;
    color: white !important;
  }
  .carousel{
    margin: 2%;
    margin-right: 5%;
    margin-left: 5%;
    height: auto !important;
  }